samples/rec/recExt.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
	<xs:element name="e1"> 
		<xs:complexType> 
			<xs:complexContent> 
				<xs:extension base="t1"> 
					<xs:attribute name="att1" type="xs:string"/> 
				</xs:extension> 
			</xs:complexContent> 
		</xs:complexType> 
	</xs:element> 
	<xs:complexType name="t1"> 
		<xs:sequence> 
			<xs:element ref="e1" minOccurs="0"/> 
		</xs:sequence> 
	</xs:complexType> 
</xs:schema>