src/test/resources/serialization/restriction2/example.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.org/ns" targetNamespace="http://example.org/ns">
  <xs:element name="baseRoot" type="tns:BaseType"/>
  <xs:element name="derivedRoot" type="tns:DerivedRestrictedType"/>
  <xs:element name="simpleBase" type="tns:SimpleBaseType"/>
  <xs:element name="simpleDerived" type="tns:SimpleDerived"/>
  <xs:complexType name="BaseType">
    <xs:sequence>
      <xs:element name="A" type="xs:string"/>
      <xs:element name="B" minOccurs="0" type="xs:string"/>
      <xs:element name="C" minOccurs="0" maxOccurs="5" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="lang" type="xs:language"/>
    <xs:attribute name="id" use="required" type="xs:ID"/>
    <xs:attribute name="status" fixed="active" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="DerivedRestrictedType">
    <xs:complexContent>
      <xs:restriction base="tns:BaseType">
        <xs:sequence>
          <xs:element name="A" type="xs:normalizedString"/>
          <xs:element name="B" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" use="required" type="xs:ID"/>
        <xs:attribute name="lang" use="prohibited"/>
        <xs:attribute name="status" use="prohibited"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RestrictedString">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}-[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SimpleBaseType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="code" type="xs:string"/>
        <xs:attribute name="flag" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SimpleDerived">
    <xs:simpleContent>
      <xs:restriction base="tns:SimpleBaseType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}-\d{3}"/>
            <xs:length value="7"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:attribute name="code" use="required" type="xs:string"/>
        <xs:attribute name="flag" use="prohibited"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StringWithAttribute">
    <xs:simpleContent>
      <xs:extension base="tns:RestrictedString">
        <xs:attribute name="myAttribute" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>