samples/simple/globalRefs2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Define the Address element as a global element -->
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Street" type="xs:string"/>
				<xs:element name="City" type="xs:string"/>
				<xs:element name="Zip" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Define the Person element as a global element -->
	<xs:element name="Person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FirstName" type="xs:string"/>
				<xs:element name="LastName" type="xs:string"/>
				<!-- Reference to the global Address element -->
				<xs:element ref="Address"/>
				<xs:element name="Work">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element ref="Address"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>