samples/simple/restr.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="mountainbikesize">
		<xs:restriction base="xs:string">
			<xs:enumeration value="small"/>
			<xs:enumeration value="medium"/>
			<xs:enumeration value="large"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FamilyMountainBikeSizes">
		<xs:simpleContent>
			<xs:extension base="mountainbikesize">
				<xs:attribute name="familyMember" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ChildMountainBikeSizes">
		<xs:simpleContent>
			<xs:restriction base="FamilyMountainBikeSizes">
				<xs:enumeration value="small"/>
				<xs:enumeration value="medium"/> 
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
