src/test/resources/serialization/restr2/example.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:tns="http://example.com/identifiers" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/identifiers">
  <xs:element name="genericID" type="tns:IdentifierType"/>
  <xs:element name="patientID" type="tns:PatientIDType"/>
  <xs:element name="patientID2" type="tns:PatientIDType2"/>
  <xs:element name="root">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tns:patientID"/>
        <xs:element ref="tns:patientID2"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="IdentifierType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="system" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PatientIDType">
    <xs:simpleContent>
      <xs:restriction base="tns:IdentifierType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="PID-\d{8}"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:attribute name="system" use="required" fixed="urn:hospital:patient-ids" type="xs:string"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PatientIDType2">
    <xs:simpleContent>
      <xs:restriction base="tns:IdentifierType">
        <xs:pattern value="PID-\d{8}"/>
        <xs:attribute name="system" use="required" fixed="urn:hospital:patient-ids" type="xs:string"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PatientIDType3">
    <xs:simpleContent>
      <xs:restriction base="tns:IdentifierType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="PID-\d{8}"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:length value="12"/>
        <xs:attribute name="system" use="required" fixed="urn:hospital:patient-ids" type="xs:string"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>