samples/elementForm/attrQuilified.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/ns"
           xmlns:tns="http://example.com/ns"
           elementFormDefault="qualified"
           attributeFormDefault="qualified">

  <xs:attributeGroup name="CommonAttributes">
    <xs:attribute name="status" type="xs:string"/>
  </xs:attributeGroup>

  <xs:element name="Record">
    <xs:complexType>
      <xs:attributeGroup ref="tns:CommonAttributes"/>
    </xs:complexType>
  </xs:element>
</xs:schema>