src/test/resources/serialization/restr/default.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="productCode" type="SpecialProductCodeType"/>
  <xs:element name="ssn" type="USSocialSecurityNumberType"/>
  <xs:complexType name="ChildMountainBikeSizes">
    <xs:simpleContent>
      <xs:restriction base="FamilyMountainBikeSizes">
        <xs:enumeration value="small"/>
        <xs:enumeration value="medium"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="FamilyMountainBikeSizes">
    <xs:simpleContent>
      <xs:extension base="mountainbikesize">
        <xs:attribute name="familyMember" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="mountainbikesize">
    <xs:restriction base="xs:string">
      <xs:enumeration value="small"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="large"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SpecialProductCodeType">
    <xs:restriction>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:whiteSpace value="collapse"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:length value="8"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:pattern value="[A-Z]{2}-\d{5}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="USSocialSecurityNumberType">
    <xs:restriction>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="11"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:pattern value="\d{3}-\d{2}-\d{4}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>