src/test/resources/serialization/nons_ref/default.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="complexTypeSimpleContent" type="timeType"/>
  <xs:element name="complexTypeSimpleContent2" type="timeType2"/>
  <xs:element name="Customer_location_fixed" fixed=" UK" type="xs:string"/>
  <xs:element name="Customer_name_default" default="unknown" type="xs:string"/>
  <xs:element name="empty"/>
  <xs:element name="restricted_bool" type="IndicatorType"/>
  <xs:element name="sizes" type="SizesType">
    <xs:annotation>
      <xs:documentation>The current status of the order. Pending: Waiting for payment. Shipped: Item is in transit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="DressSizeType">
    <xs:restriction base="xs:integer">
      <xs:pattern value="\d{1,2}"/>
      <xs:minInclusive value="2"/>
      <xs:maxInclusive value="18"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IndicatorType">
    <xs:restriction base="xs:boolean">
      <xs:pattern value="false|true"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MediumDressSizeType">
    <xs:restriction base="DressSizeType">
      <xs:minInclusive value="8"/>
      <xs:maxInclusive value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="myUnion">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:integer"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string"/>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:complexType name="SizesType">
    <xs:sequence maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>fdsj dsj sdkhfjksdfhdskhf sdfhsdjkfhdsjkghdsjk ksdkjghdskghdskjhgsdkjghdskjghsdkjhgdsjkhgdsjkhjkjkfhjdkshfjkdshfdjsk dsjkfhdsjfhdsjkfh sdkjfhdjskfhdjshfjdshfdjsfhjdshfjdshfjdshfjdshfdjsfhjdsfhjdshfjdshfjdshfjdshfjdshfdsjjhfjdshfjdsfhdsjfhjdshfjdshfhdsjfhjds fdj hdjs sjdfhjds sdjhfjdshfjds sjdhfjds sdjfhjdsfhdjsfhjdshfjdshfjdshfjds sdjfhjsdfhjdshfjsd hfdsjhfjdshfjdshfjdshfjdshffdsh sdjfhdsjfhjdshfjdshfj sdjfhdsjhfjdshfjdshfjdshf sdjfhdjsfhdsjhfjdshf</xs:documentation>
      </xs:annotation>
      <xs:element type="xs:anySimpleType"/>
      <xs:element type="xs:negativeInteger"/>
      <xs:element type="DressSizeType"/>
      <xs:element type="MediumDressSizeType"/>
      <xs:element type="SmallDressSizeType"/>
      <xs:element type="SMLXSizeType"/>
      <xs:element type="XSMLXSizeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SmallDressSizeType">
    <xs:restriction base="DressSizeType">
      <xs:pattern value="\d{1}"/>
      <xs:maxInclusive value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SMLXSizeType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="small"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="large"/>
      <xs:enumeration value="extra large"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="timeType">
    <xs:simpleContent>
      <xs:extension base="timeValueType">
        <xs:attribute name="format">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="seconds"/>
              <xs:enumeration value="minutes"/>
              <xs:enumeration value="hours"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="timeType2">
    <xs:simpleContent>
      <xs:extension base="timeType">
        <xs:attribute name="format2">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="seconds"/>
              <xs:enumeration value="minutes"/>
              <xs:enumeration value="hours"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="timeValueType">
    <xs:restriction base="xs:token">
      <xs:pattern value="\d{2}:\d{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="XSMLXSizeType">
    <xs:union memberTypes="SMLXSizeType">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="extra small"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>